.notification {
  top: 0;
  transition: transform .2s ease;
  transform: translateX(-50%) translateY(-100%);
}

.notification_active {
  transform: translateX(-50%) translateY(20px);
}

.notification__message {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-text);
}
