/* Palette */
:root {
  --purple-2: #ccadf7;
  --purple-3: #8338ec;
  --purple-4: #7209b7;
  --purple-5: #6808a6;
  --pink-3: #ff006e;
  --pink-4: #d81e5b;
  --pink-5: #861b47;
  --blue-3: #303c6c;
  --gray-1: #f5f5f5;
  --gray-2: #d3d3d3;
  --gray-3: #c4c4c4;
  --gray-4: #999999;
  --gray-6: #777777;
  --gray-5: #242424;
  --gray-6: #dbdbdb;
  --cream: #f7ede2;
  --dark-blue: #303C6C;
}
