:root {
  --font-family: "Play", sans-serif;
}

:root {
  --font-default: 14px/19px var(--font-family);
  --font-button: 14px/16px var(--font-family);
  --font-input-label: 700 12px/16px var(--font-family);
  --font-input: 14px/20px var(--font-family);
  --font-validtion-message: 700 12px/14px var(--font-family);
}
