.game {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  text-align: center;
}

.game__canvas {
  border: 2px solid var(--purple-3);
  border-radius: 10px;
}

.game__canvas-wrapper {
  padding: 30px;
  border: 2px solid var(--gray-2);
  border-radius: 10px;
  background: #f7ede2;
}
