.grid {
  display: grid;
  gap: 32px;
}

.buttons-grid {
  gap: 16px;
  display: flex;
}

.inputs-grid {
  gap: 16px;
  display: grid;
  grid-template-columns: max-content 300px;
  align-items: baseline;
}

.modals-grid {
  gap: 16px;
  display: grid;
  grid-template-columns: max-content 500px;
  align-items: baseline;
}
