.buttons-group {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  grid-gap: 16px;
}

.buttons-group_direction_horizontal {
  flex-direction: row;
}

.buttons-group_direction_vertical {
  flex-direction: column;
}

.buttons-group_align-right {
  align-items: end;
}
